* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
#banner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* #banner > div > img {
  width: 30%;
  height: 90%;
} */
/* #innerBanner {
  width: 30%;
} */

/* #banner > div:nth-child(2) {
  position: absolute;
  margin-right: 2vw;
} */

#banner {
  padding-top: 0.85vh;
  display: flex;
  align-items: center;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

#banner > div:nth-child(2) {
  max-width: 8vw;
  height: auto;
  margin-left: 70vw;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  right: 3vw;
}

#innerBanner > img {
  width: 23vw;
  padding: 0.7vw 0vw;
}

#logoSun > img {
  width: 9.5vw;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5vw 0vw;
}
#box {
  border: 1px solid black;
  box-shadow: -20px 16px 0 -3px rgb(0, 0, 0);
  width: 60vw;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
#bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5.5vh;
}
#bottom > div > img {
  width: 11.5vw;
}
