*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #000;
}
main {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.title {
  /* background-color: blue; */
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.title > img {
  margin-left: 30%;
  margin-top: 3%;
  width: 40%;
  height: 10%;
}
.sun {
  position: absolute;
  top: 60px;
  right: -420px;
}
.sun > img {

  width: 20%;
  height: 10%;
}

.vending-machine > img {
  margin-top: 5%;
  margin-left: 38%;
  width: 23%;
  height: 10%;
}
.pricetag {
  background-color: aqua;
}
.animal_price {
  font-size: 9px;
  position: absolute;
  top: 300px;
  left: 717px;
  width: 300px;
  height: 20px;
  display: flex;
  cursor: pointer;
  padding-left: 9px;
}
.animal_price div {
  
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #000;
  padding: 3px;
  margin-left:8px ;
}
.animal_price div:hover {
  background-color: #F2A0AF;
}
.time_price {
  font-size: 9px;
  position: absolute;
  top: 367px;
  left: 717px;
  width: 300px;
  height: 20px;
  display: flex;
  cursor: pointer;
  padding-left: 9px;
}
.time_price div {
  
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #000;
  padding: 3px;
  margin-left:8px ;
}
.time_price div:hover {
  background-color: #733A26;
  color: #fff;
}
.crime_price {
  font-size: 9px;
  position: absolute;
  top: 435px;
  left: 717px;
  width: 300px;
  height: 20px;
  display: flex;
  cursor: pointer;
  padding-left: 9px;
}
.crime_price div {
  
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #000;
  padding: 3px;
  margin-left:8px ;
}
.crime_price  div:hover {
  background-color: #E01212;
  color: #fff;
}

.space_price {
  font-size: 9px;
  position: absolute;
  top: 502px;
  left: 717px;
  width: 300px;
  height: 20px;
  display: flex;
  cursor: pointer;
  padding-left: 9px;
}
.space_price div {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #000;
  padding: 3px;
  margin-left:8px ;
}
.space_price div:hover {
  background-color: #4333A6;
}
.radiation_price {
  font-size: 9px;
  position: absolute;
  top: 573px;
  left: 717px;
  width: 300px;
  height: 20px;
  display: flex;
  cursor: pointer;
  padding-left: 9px;
}
.radiation_price div {
  
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #000;
  padding: 3px;
  margin-left:8px ;
}
.radiation_price div:hover {
  background-color: #FFEA24;
}

.streetlamp img {
  width: 25%;
}
.animal_lamp {
  position: absolute;
  top: 350px;
  left: 50px;
}
.crime_lamp {
  position: absolute;
  top: 317px;
  left: 260px;
}
.radiation_lamp {
  position: absolute;
  top: 332px;
  left: 450px;
}
.space_lamp {
  position: absolute;
  top: 296px;
  right: 100px;
}
.time_lamp {
  position: absolute;
  top: 303px;
  right: -300px;
}
.animalnoncan {
  position: absolute;
  top: 252px;
  left: 717px;
  width: 50px;
  height: 45px;
  display: flex;
  cursor: pointer;
  padding-left: 9px;

}
.animalnoncan img {
  padding-left: 14px;
}
.timenoncan {
  position: absolute;
  top: 321px;
  left: 717px;
  width: 50px;
  height: 45px;
  display: flex;
  cursor: pointer;
  padding-left: 9px;

}
.timenoncan img {
  padding-left: 14px;
}
.crimenoncan {
  position: absolute;
  top: 389px;
  left: 717px;
  width: 50px;
  height: 45px;
  display: flex;
  cursor: pointer;
  padding-left: 9px;

}
.crimenoncan img {
  padding-left: 14px;
}
.spacenoncan {
  position: absolute;
  top: 456px;
  left: 717px;
  width: 50px;
  height: 45px;
  display: flex;
  cursor: pointer;
  padding-left: 3px;

}
.spacenoncan img {
  padding-left: 26px;
}
.radiationnoncan {
  position: absolute;
  top: 525px;
  left: 717px;
  width: 50px;
  height: 45px;
  display: flex;
  cursor: pointer;
  padding-left: 9px;

}
.radiationnoncan img {
  padding-left: 14px;
}